body {
    background-color:rgb(216, 215, 197);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color:rgb(52, 48, 48);
}

#content-area {
    margin: 0 10vw;
    background-color: white;
    padding: 0 5vw;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem 0;
}

#page-title {
    display: inline-block;
    box-sizing: border-box;
    width: 75%;
    font-size:3.5rem;
    padding-top: 2vh;
}

#page-title a {
    color: darkslateblue;
}

#date {
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    font-size: 1rem;
    width: 25%;
}

header {
    font-size: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: rgb(95, 79, 201);
}

a:hover {
    color: goldenrod;
}

p {
    line-height: 1.5em;
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: -5vw;
    margin-right: -5vw;
}

#main-nav li {
    display: inline-block;
    text-align: center;
    width: 25%;
    background-color: darkslateblue;
}

#main-nav a {
    display: block;
    color: white;
    line-height: 3rem;
}

#main-nav a:hover {
    background-color: slateblue;
}

main {
    width: 75%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 18px;
}

aside {
    display: inline-block;
    vertical-align: top;
}

aside a {
    line-height: 1.5rem;
}

footer {
    text-align: center;
    background-color: darkslateblue;
    color: white;
    margin-left: -5vw;
    margin-right: -5vw;
    height: 3rem;
}

footer p {
    line-height: 3rem;
}

.current-story {
    float: right;
    position: relative;
}

.current-story figcaption {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0em;
    line-height: 2em;
    background-color: rgba(255, 255, 255, 0.731);
}

.story-preview {
    display: inline-block;
}

@media screen and (max-width:768px) {
    body {
        background-color: white;
    }

    #content-area {
        margin: 0;
    }

    #date {
        text-align: left;
    }

    main {
        display: block;
        width: 100%;
    }

    aside {
        display:block;
        width: 100%;
    }

    #most-shared-section, #most-read-section, #most-watched-section {
        display: inline-block;
        width: 32%;
    }
}

@media screen and (max-width:426px) {
    .current-story {
        float: none;
        width: 80vw;
        margin-left: 10vw;
    }

    .current-story img {
        width: 100%;
    }

    #most-shared-section, #most-read-section, #most-watched-section {
        display: block;
        width: 100%;
    }
}