body {
    background-color:mediumpurple;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#content-area {
    margin: 0 10vw;
    background-color: white;
    padding: 0 5vw;
    box-sizing: border-box;
}

#page-title {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    font-size: 3rem;
    color: darkorchid;
}

#date {
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    font-size: 1rem;
    width: 30%;
}

header {
    font-size: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: -5vw;
    margin-right: -5vw;
}

#main-nav li {
    display: inline-block;
    text-align: center;
    width: 25%;
    background-color:darkorchid;
}

#main-nav a {
    display: block;
    color: white;
    line-height: 3rem;
}

#main-nav a:hover {
    background-color:rgb(162, 98, 194);
}

aside a, p {
    line-height: 1.5rem;
}

main {
    width: 75%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 24px;
}

aside {
    display: inline-block;
    vertical-align: top;
}

aside a:hover {
    color: goldenrod;
}

footer {
    text-align: center;
    background-color: darkorchid;
    color: white;
    margin-left: -5vw;
    margin-right: -5vw;
    line-height: 3rem;
}